# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: project build and deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: List files
      run: ls -R

    - name: Configure environment variables
      run: |
        sed -i "s|{{DB_IP}}|${{ secrets.DB_IP }}|g" ./src/main/resources/application.properties
        sed -i "s|{{DB_USER}}|${{ secrets.DB_USER }}|g" ./src/main/resources/application.properties
        sed -i "s|{{DB_PASS}}|${{ secrets.DB_PASS }}|g" ./src/main/resources/application.properties
        sed -i "s|{{RABBIT_IP}}|${{ secrets.RABBIT_IP }}|g" ./src/main/resources/application.properties
        sed -i "s|{{RABBIT_USER}}|${{ secrets.RABBIT_USER }}|g" ./src/main/resources/application.properties
        sed -i "s|{{RABBIT_PASS}}|${{ secrets.RABBIT_PASS }}|g" ./src/main/resources/application.properties

    - name: Build with Maven
      run: mvn clean install

    - name: Build & push Docker image
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: noefernandes/servico-compra-rabbit
        tags: latest
        registry: docker.io
        dockerfile: Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}